body {
    font-family: Arial, sans-serif;
    background: #cdcdcd;
    margin: 0;
    padding: 0;
}

header {
    background: #0d355c;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header input {
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    box-sizing: border-box; /* para garantir o tamanho correto */
}

#glossario {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
    color: #0d355c;
    margin-top: 0;
}

.hidden {
    display: none;
}

footer {
    background: #0d355c;
    color: white;
    text-align: center;
    padding: 15px 20px;
    margin-top: 25px;
    font-size: 12px;
}

footer p {
    margin: 8px 2px;
}

.suggestions-box {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.suggestions-box div {
    background: rgb(255, 255, 255);
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    color: black;
}

.suggestions-box div:hover {
    background-color: #d7d7d7;
    font-size: 16px;
    color: black;
}

#suggestions {
    position: relative;
    width: 100%;
    z-index: 10;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #0d355c;
    border-top: none;
}

